<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.theme.name }} - {{ page.title }}</title>
  <meta name="author" content="{{ site.theme.name }}" />
  <meta name="description" content="Resumé of {{ site.theme.name }}" />

  <link href="//fonts.googleapis.com/css?family=Open+Sans:600,800" rel="stylesheet" type="text/css">
  <link rel="shortcut icon" href="/favicon.png">
  <link rel="alternate" type="application/rss+xml" title="{{ site.theme.name }}" href="{{site.url}}/atom.xml" />
  
  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/css/resume.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.1/css/font-awesome.min.css">
</head>
<body>
  <header class="row">
    <h1 class="col-lg-offset-4 col-lg-5">Philippe Thécou Ndiaye</h1>
  </header>

  <!-- Navigation menu -->
  <nav class="row">
    <ul class="col-lg-offset-3">
      <li><a href="#me">me</a></li>
      <li><a href="#education">education</a></li>
      <li><a href="#work">work</a></li>
      <li><a href="#skills">skills</a></li>
  </nav>

  <div class="container">
    <!-- More about me -->
    <section class="col-lg-12" id="me">
      <h2 class="title"><i class="fa fa-user"></i> More About Me</h2>
      <p class="col-lg-12">{{ site.data.resume.biography }}</p>
    </section>

    <!-- Education & Trainings-->
    <section class="col-lg-12" id="education">
      <h2 class="title"><i class="fa fa-book"></i> Education and Trainings</h2>
      {% for edu in site.data.resume.education %}
        <article class="col-lg-12">
          <h3>{{ edu[1].school }} —  {{ edu[1].degree }}</h3>
          <p>{{ edu[1].city }} {% if edu[1].description %}— {{ edu[1].description }}{% endif %}</p>
        </article>
      {% endfor %}
    </section>
    
    <!-- Professional Experiences -->
    <section class="col-lg-12" id="work">
      <h2 class="title"><i class="fa fa-suitcase"></i> Professional Experiences</h2>
      {% for work in site.data.resume.works %}
        <article class="pro">
          <div class="col-lg-4">
            <h3 class="corporate-name">{{ work[1].corporate }}</h3>
            <p>{{ work[1].period }}</p>
          </div>
          <div class="col-lg-8">
            <span>{{ work[1].jobtitle }}</span>
            <p>{{ work[1].description }}</p>
          </div>
        </article>
      {% endfor %}
    </section>
    
    <!-- Programming and technicals (more generally) skills -->
    <!--<section class="col-lg-12" id="skills">
      <h2 class="title col-lg-12"><i class="fa fa-code"></i> Technical Skills</h2>
      <p class="col-lg-12">{{ site.resume.biography }}</p>
    </section>-->
  </div>

  {% include analytics.html %}
  <script type="text/javascript" src="/assets/js/jquery-1.10.2.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function(){
      $('a[href^="#"]').on('click',function (e) {
          e.preventDefault();

          var target = this.hash,
          $target = $(target);

          $('html, body').stop().animate({
              'scrollTop': $target.offset().top
          }, 900, 'swing', function () {
              window.location.hash = target;
          });
      });
    });
  </script>
</body>
</html>
